[defaults]
forks = 20

gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 86400

retry_files_enabled = False
roles_path = roles

# Use the YAML callback plugin.
stdout_callback = yaml
# Don't use the stdout_callback when running ad-hoc commands. e.g: ansible -m setup <host>
bin_ansible_callbacks = False

# don't automatically convert "false" string to bool, use |bool filter if required.
conditional_bare_variables = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = true

[inventory]
enable_plugins = ini
